<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Output</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles/style.css') }}">

</head>
<body>
    <div class="wrapper">
    <span class="address">{{ full_address.upper() }}</span>
    <table class="main">
        <tr>
            <th class="main">DATA TYPE</th>
            <th class="main"># OF VALUES</th>
        </tr>
        {% for pd_key, pd_values in page_data.items() %}
        <tr class="data">
            <td>{{ pd_key }}</td>
            <td>{{ pd_values|length }}</td>
        </tr>
        {% endfor %}
    </table>
    
    </div>

</body>
</html>


