<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Housing Court Prep</title>
</head>

<form action="/search" method="GET">

    <h2>Enter data...</h2>
        <p>
        Case Name<br>
        <input name="case_name">
        <p>
        House Number<br>
        <input name="house_number">
        <p>
        Street Name<br>
        <input name="street_name">
        <p>
        Borough<br>
        <select id="boro" name="boro">
            <option value="bronx">Bronx</option>
            <option value="brooklyn">Brooklyn</option>
            <option value="manhattan">Manhattan</option>
            <option value="queens">Queens</option>
            <option value="staten">Staten Island</option>
        </select>
        <p>
        <input type="submit">

</form>